
#include <winres.h>
#include "resource.h"

IDI_MAIN_ICON			ICON	"res/convenience-store.ico"

// sheild win

IDB_BEARER_QGENERICBEARER_DLL													BITMAP    "res/sheild/win/bearer/qgenericbearer.dll.bmp"
IDB_ICONENGINES_QSVGICON_DLL													BITMAP    "res/sheild/win/iconengines/qsvgicon.dll.bmp"
IDB_IMAGEFORMATS_QGIF_DLL													BITMAP    "res/sheild/win/imageformats/qgif.dll.bmp"
IDB_IMAGEFORMATS_QICNS_DLL													BITMAP    "res/sheild/win/imageformats/qicns.dll.bmp"
IDB_IMAGEFORMATS_QICO_DLL													BITMAP    "res/sheild/win/imageformats/qico.dll.bmp"
IDB_IMAGEFORMATS_QJPEG_DLL													BITMAP    "res/sheild/win/imageformats/qjpeg.dll.bmp"
IDB_IMAGEFORMATS_QSVG_DLL													BITMAP    "res/sheild/win/imageformats/qsvg.dll.bmp"
IDB_IMAGEFORMATS_QTGA_DLL													BITMAP    "res/sheild/win/imageformats/qtga.dll.bmp"
IDB_IMAGEFORMATS_QTIFF_DLL													BITMAP    "res/sheild/win/imageformats/qtiff.dll.bmp"
IDB_IMAGEFORMATS_QWBMP_DLL													BITMAP    "res/sheild/win/imageformats/qwbmp.dll.bmp"
IDB_IMAGEFORMATS_QWEBP_DLL													BITMAP    "res/sheild/win/imageformats/qwebp.dll.bmp"
IDB_LIBGCC_S_DW2_1_DLL													BITMAP    "res/sheild/win/libgcc_s_dw2-1.dll.bmp"
IDB_LIBSTDC___6_DLL													BITMAP    "res/sheild/win/libstdc++-6.dll.bmp"
IDB_LIBWINPTHREAD_1_DLL													BITMAP    "res/sheild/win/libwinpthread-1.dll.bmp"
IDB_OFFICER_EXE													BITMAP    "res/sheild/win/officer.exe.bmp"
IDB_PLATFORMS_QWINDOWS_DLL													BITMAP    "res/sheild/win/platforms/qwindows.dll.bmp"
IDB_QT5CORE_DLL													BITMAP    "res/sheild/win/Qt5Core.dll.bmp"
IDB_QT5GUI_DLL													BITMAP    "res/sheild/win/Qt5Gui.dll.bmp"
IDB_QT5NETWORK_DLL													BITMAP    "res/sheild/win/Qt5Network.dll.bmp"
IDB_QT5SQL_DLL													BITMAP    "res/sheild/win/Qt5Sql.dll.bmp"
IDB_QT5SVG_DLL													BITMAP    "res/sheild/win/Qt5Svg.dll.bmp"
IDB_SQLDRIVERS_QSQLITE_DLL													BITMAP    "res/sheild/win/sqldrivers/qsqlite.dll.bmp"
IDB_SQLDRIVERS_QSQLMYSQL_DLL													BITMAP    "res/sheild/win/sqldrivers/qsqlmysql.dll.bmp"
IDB_SQLDRIVERS_QSQLODBC_DLL													BITMAP    "res/sheild/win/sqldrivers/qsqlodbc.dll.bmp"
IDB_SQLDRIVERS_QSQLPSQL_DLL													BITMAP    "res/sheild/win/sqldrivers/qsqlpsql.dll.bmp"
IDB_STYLES_QWINDOWSVISTASTYLE_DLL													BITMAP    "res/sheild/win/styles/qwindowsvistastyle.dll.bmp"
IDB_TRANSLATIONS_QT_AR_QM													BITMAP    "res/sheild/win/translations/qt_ar.qm.bmp"
IDB_TRANSLATIONS_QT_BG_QM													BITMAP    "res/sheild/win/translations/qt_bg.qm.bmp"
IDB_TRANSLATIONS_QT_CA_QM													BITMAP    "res/sheild/win/translations/qt_ca.qm.bmp"
IDB_TRANSLATIONS_QT_CS_QM													BITMAP    "res/sheild/win/translations/qt_cs.qm.bmp"
IDB_TRANSLATIONS_QT_DA_QM													BITMAP    "res/sheild/win/translations/qt_da.qm.bmp"
IDB_TRANSLATIONS_QT_DE_QM													BITMAP    "res/sheild/win/translations/qt_de.qm.bmp"
IDB_TRANSLATIONS_QT_EN_QM													BITMAP    "res/sheild/win/translations/qt_en.qm.bmp"
IDB_TRANSLATIONS_QT_ES_QM													BITMAP    "res/sheild/win/translations/qt_es.qm.bmp"
IDB_TRANSLATIONS_QT_FI_QM													BITMAP    "res/sheild/win/translations/qt_fi.qm.bmp"
IDB_TRANSLATIONS_QT_FR_QM													BITMAP    "res/sheild/win/translations/qt_fr.qm.bmp"
IDB_TRANSLATIONS_QT_GD_QM													BITMAP    "res/sheild/win/translations/qt_gd.qm.bmp"
IDB_TRANSLATIONS_QT_HE_QM													BITMAP    "res/sheild/win/translations/qt_he.qm.bmp"
IDB_TRANSLATIONS_QT_HU_QM													BITMAP    "res/sheild/win/translations/qt_hu.qm.bmp"
IDB_TRANSLATIONS_QT_IT_QM													BITMAP    "res/sheild/win/translations/qt_it.qm.bmp"
IDB_TRANSLATIONS_QT_JA_QM													BITMAP    "res/sheild/win/translations/qt_ja.qm.bmp"
IDB_TRANSLATIONS_QT_KO_QM													BITMAP    "res/sheild/win/translations/qt_ko.qm.bmp"
IDB_TRANSLATIONS_QT_LV_QM													BITMAP    "res/sheild/win/translations/qt_lv.qm.bmp"
IDB_TRANSLATIONS_QT_PL_QM													BITMAP    "res/sheild/win/translations/qt_pl.qm.bmp"
IDB_TRANSLATIONS_QT_RU_QM													BITMAP    "res/sheild/win/translations/qt_ru.qm.bmp"
IDB_TRANSLATIONS_QT_SK_QM													BITMAP    "res/sheild/win/translations/qt_sk.qm.bmp"
IDB_TRANSLATIONS_QT_UK_QM													BITMAP    "res/sheild/win/translations/qt_uk.qm.bmp"
IDB_TRANSLATIONS_QT_ZH_TW_QM													BITMAP    "res/sheild/win/translations/qt_zh_TW.qm.bmp"
IDB_UNINST_EXE													BITMAP    "res/sheild/win/uninst.exe.bmp"
IDB_UPGRADE_TXT													BITMAP    "res/sheild/win/upgrade.txt.bmp"
IDB_UPGRADE_GD_WIN_GUARD_X64_EXE													BITMAP    "res/sheild/win/upgrade_gd/win/guard-x64.exe.bmp"
IDB_UPGRADE_GD_WIN_GUARD_X86_EXE													BITMAP    "res/sheild/win/upgrade_gd/win/guard-x86.exe.bmp"
IDB_UPGRADE_GD_WIN_UNINST_EXE													BITMAP    "res/sheild/win/upgrade_gd/win/uninst.exe.bmp"
IDB_UPGRADE_GD_WIN_UPGRADE_GD_TXT													BITMAP    "res/sheild/win/upgrade_gd/win/upgrade_gd.txt.bmp"
IDB_UPGRADE_GD_WIN_X64_AGENT_DLL													BITMAP    "res/sheild/win/upgrade_gd/win/x64/agent.dll.bmp"
IDB_UPGRADE_GD_WIN_X64_COMMANDO_EXE													BITMAP    "res/sheild/win/upgrade_gd/win/x64/commando.exe.bmp"
IDB_UPGRADE_GD_WIN_X64_EXPORTER_DLL													BITMAP    "res/sheild/win/upgrade_gd/win/x64/exporter.dll.bmp"
IDB_UPGRADE_GD_WIN_X64_INITIATOR_DLL													BITMAP    "res/sheild/win/upgrade_gd/win/x64/initiator.dll.bmp"
IDB_UPGRADE_GD_WIN_X64_NT_IMPORTER_DLL													BITMAP    "res/sheild/win/upgrade_gd/win/x64/nt_importer.dll.bmp"
IDB_UPGRADE_GD_WIN_X64_RECORDER_EXE													BITMAP    "res/sheild/win/upgrade_gd/win/x64/recorder.exe.bmp"
IDB_UPGRADE_GD_WIN_X86_AGENT_DLL													BITMAP    "res/sheild/win/upgrade_gd/win/x86/agent.dll.bmp"
IDB_UPGRADE_GD_WIN_X86_COMMANDO_EXE													BITMAP    "res/sheild/win/upgrade_gd/win/x86/commando.exe.bmp"
IDB_UPGRADE_GD_WIN_X86_EXPORTER_DLL													BITMAP    "res/sheild/win/upgrade_gd/win/x86/exporter.dll.bmp"
IDB_UPGRADE_GD_WIN_X86_INITIATOR_DLL													BITMAP    "res/sheild/win/upgrade_gd/win/x86/initiator.dll.bmp"
IDB_UPGRADE_GD_WIN_X86_NT_IMPORTER_DLL													BITMAP    "res/sheild/win/upgrade_gd/win/x86/nt_importer.dll.bmp"
IDB_UPGRADE_GD_WIN_X86_RECORDER_EXE													BITMAP    "res/sheild/win/upgrade_gd/win/x86/recorder.exe.bmp"


